@model IEnumerable<TDST_CRUD.EF.PGroup>

@{
    ViewBag.Title = "DonViCungCap";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var ListRoles = ViewBag.listRoles as IEnumerable<TDST_CRUD.EF.PRole>;
}

<div class="panel-heading">
    1.2. Thiết lập group
</div>

@section jsFooter{

<script type="text/javascript">
	//$(document).ready(function()
	//{
	//	var table = $('#example1').dataTable(
	//	{
	//		"bJQueryUI": true,
	//		"sPaginationType": "full_numbers"
	//	});

	//}); // End ready

</script>

}

<div class="panel-body">

    <table id="example" class="display" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>                
                <th>Id group</th>
                <th>Tên group</th>
                <th>User thuộc group</th>
                <th>Role của group</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr class="gradeA">
                    <td>@item.IdGroup</td>
                    <td>@item.GroupName </td>                    
                    <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalUser" onclick="return ListUserByGroup('@item.IdGroup')">
                            Chi tiết
                        </button> </td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalRole" onclick="return ListRoleByGroup('@item.IdGroup')">
                            Chi tiết
                        </button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="rounded-foot-left" colspan='2' style="height: 14px"></td>
            </tr>
        </tfoot>
    </table>
    
   
    <!-- modal User style="display:none;"   --->
    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title" id="myModalLabel">Danh sách user thuộc nhóm <span class="hidden" id="IdGroup"></span> </h4>
                </div>
                <div class="modal-body">

                    <table id="example1" class="display" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>User name</th>
                                <th>Action</th>                                     
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="rounded-foot-left" colspan='2' style="height: 14px"></td>
                            </tr>
                            <tr>
                                <td><input id="inputNewUser" type="text" placeholder="User name cần thêm"/></td>
                                <td><button type="button" class="btn btn-success"  onclick="return AddUserToGroup()">Thêm user vào nhóm </button></td>
                            </tr>
</tr>
                        </tfoot>
                    </table>                    

                </div>
                <div class="modal-footer">                   
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>   <!-- /.modal User style="display:none;"   --->

    <!-- modal Role style="display:none;"   --->
    <div class="modal fade" id="modalRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title" id="myModalLabel">Danh sách Role thuộc nhóm <span class="hidden" id="IdGroup"></span> </h4>
                </div>
                <div class="modal-body">
                    <table id="example2" class="display" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Role name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td class="rounded-foot-left" colspan='2' style="height: 14px"></td>
                            </tr>
                            <tr>
                                <td> @Html.DropDownList("selRole", new SelectList(ListRoles, "RoleName", "RoleName"), " -- Chọn role --")</td>
                                <td><button type="button" class="btn btn-success" onclick="return AddRoleToGroup()">Thêm Role vào nhóm </button></td>
                            </tr>

                                                        @*<tr>
            <td> <span id="thongBaoMmodalRole"></span>              </td>
            <input id="inputNewRole" type="text" placeholder="Role name cần thêm" />
        </tr>*@
                        </tfoot>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>   <!-- /.modal Role style="display:none;"   --->




</div>
<!-- /.panel-body -->
