@model IEnumerable<TDST_CRUD.EF.PUser>

@{
    ViewBag.Title = "DonViCungCap";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var ListGroups = ViewBag.ListGroups as IEnumerable<TDST_CRUD.EF.PGroup>;
}

@section jsFooter{     
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script src="~/Assets/js/phanquyen/qluser.js"></script>

<script type="text/javascript">
	$(document).ready(function()
	{
	    $('#tblUser').dataTable(
		{
			"bJQueryUI": true,
			"sPaginationType": "full_numbers"
		});
	}); // End ready
</script>   

}

<div class="panel-heading">
   0.2. Danh sách user
</div>

<div class="panel-body">
    <br /><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalNewUser"> Tạo user mới</button>
    <br />
    <table id="tblUser" class="display" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Id user</th>
                <th>User name</th>
                <th>Họ và tên</th>                
                <th>Trạng thái</th> 
                <th>Reset mật khẩu</th> 
                <th>Thuộc nhóm</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr class="gradeA" id="@item.IdUser">
                    <td>@item.IdUser</td>
                    <td>@item.UserName </td>
                    <td>@item.FullName </td>
                    <td>@item.Status </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalResetPass" onclick="return ResetPass('@item.UserName')">
                            Reset mk @item.UserName
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalGroup" onclick="return ListGroupByUser('@item.UserName')">
                            Thuộc nhóm
                        </button>
                    </td>
                    <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalUser" onclick="return DetailUser('@item.IdUser')">
                            Chi tiết
                        </button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="rounded-foot-left" colspan='2' style="height: 14px"></td>
            </tr>
        </tfoot>
    </table>

    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title" id="myModalLabel">Chi tiết user</h4>
                </div>
                <div class="modal-body">
                    
                    <form id="containerForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Id</label>
                            <div class="col-sm-5">
                                <input id ="inputIdUser" type="text" class="form-control" name="Id" placeholder="Id" readonly="readonly"/>
                            </div>                            
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">User name</label>
                            <div class="col-sm-5">
                                <input id="inputUserName" type="text" class="form-control" name="userName" readonly="readonly" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tên đầy đủ</label>
                            <div class="col-sm-5">
                                <input type="text" id="inputFullName" class="form-control" name="firstName" placeholder="First name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Trạng thái</label>
                            <div class="col-sm-5">
                                <select id="selStatus" name="selStatus">
                                    <option value="">Chọn trạng thái</option>
                                    <option value="true">Hoạt động</option>
                                    <option value="false">Khóa</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="form-row">
                        <button type="button" class="btn btn-success" id="btnSave" onclick="UpdateUser();" >Lưu thay đổi</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>

                    </div>
                </div>
            </div>
        </div> <!-- /.modal dialog style="display:none;"   --->
    </div>   <!-- /.modal  style="display:none;"   --->

    <!-- modal User style="display:none;"   --->
    <div class="modal fade" id="modalGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title" id="myModalLabel">Username '<span class="" id="hiddenUserName"></span>' thuộc nhóm sau </h4>
                </div>
                <div class="modal-body">

                    <table id="tblGroupByUser" class="display" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Id nhóm</th>
                                <th>Nhóm</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td class="rounded-foot-left" colspan='2' style="height: 14px"></td>
                            </tr>
                            <tr>
                                <td>@Html.DropDownList("selGroup", new SelectList(ListGroups, "IdGroup", "GroupName"), " -- Chọn group --")</td>
                                <td><button type="button" class="btn btn-success" onclick="return AddGroupToUser()">Thêm user vào nhóm </button></td>
                            </tr>

                        </tfoot>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>   <!-- /.modal User style="display:none;"   --->


    <!--===================== modal NewUser;" ===================  --->
    <div class="modal fade" id="modalNewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title" id="myModalLabel">Tạo user mới</h4>
                </div>
                <div class="modal-body">
                    <form id="containerForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">User name</label>
                            <div class="col-sm-5">
                                <input type="text" id="inputNewUserName" class="form-control" name="username" placeholder="User name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tên đầy đủ</label>
                            <div class="col-sm-5">
                                <input id="inputNewFullName" type="text" class="form-control" name="fullname"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="form-row">
                        <button type="button" class="btn btn-success" id="btnSave" onclick="return NewUser();">Đồng ý</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>

                    </div>
                </div>
            </div>
        </div> <!-- /.modal dialog style="display:none;"   --->
    </div>   <!-- /.modal  style="display:none;"   --->
    <!--===================== // modal NewUser;" ===================  --->


</div>
<!-- /.panel-body -->
